li img {
                   height: 60px;
                   width: 60px ;
                  padding: 0;
                  background-color: green;
}


.ContentFront li {
                   margin-top: 50px;
                   display: flex;
}

li h5 {
                   opacity: 80%;
                   padding-left: 11px;
}

h5 span {
                   
                   font-size: 20px;
                   
}

.ContentFront .AMG {
                   width: 50px;
                   display: flex;
                   justify-content: space-between;
}


.AMG li {
                   padding-left: 20px;
}